<p id="notice"><%= notice %></p>

<div class="card">

  <p class="deck-title">
    <%= link_to "#{@card.deck.title}", deck_path(@deck.id), :id => "navLink" %>
  </p>

  <p class="card-front">
    <%= @card.question %>
  </p>

  <p class="card-back">
    <%= @card.answer %>
  </p>

</div>

