$navColor:  #0097cc;
$hoverColor: #007199;
$cardWidth: 300px;
$cardHeight: 200px;

div.card {
  border: 1px solid black;
  cursor: pointer;
  height: $cardHeight;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: $cardWidth;
  word-break: break-all;

  #navLink {
    background-color: white;
  }

  .card-content {
    display: none; 
  }

  p {
    font-size: 20px;
    margin-top: 85px;
    text-align: center;
  }

  img {
    bottom: 0;
    height: auto;
    left: 0;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    user-select: none;
    width: auto;
  }

  @media screen and (max-width: 360px) {
    width: 80%; 
  }

}

.arrow-left {
  border-bottom: 30px solid transparent;
  border-top: 30px solid transparent;
  border-right: 30px solid $navColor;
  display: block;
  height: 0;
  margin-left: -50px;
  margin-top: 65px;
  position: absolute;
  width: 0; 

  &:hover {
    background-color: white;
    border-right-color: $hoverColor;
  }
  
  @media screen and (max-width: 360px) {
    margin-left: -36px;
  }
}

.arrow-right {
  border-bottom: 30px solid transparent;
  border-left: 30px solid $navColor;
  border-top: 30px solid transparent;
  display: block;
  height: 0;
  margin-left: 320px;
  margin-top: 65px;
  position: absolute;
  width: 0;
  
  &:hover {
    background-color: white;
    border-left-color: $hoverColor;
  }

  @media screen and (max-width: 360px) {
    margin-left: 102%;
  }
}
