$navColor:  #0097cc;
$hoverColor: #007199;

div.card {
  border: 1px solid black;
  cursor: pointer;
  height: 200px;
  margin: 0 auto;
  padding: 2px;
  text-align: center;
  width: 300px;
  vertical-align: middle;

  &>p {
    font-size: 20px;
  }

  &>.card-content {
    margin-top: 50px;
  }
}

.arrow-left {
  border-bottom: 30px solid transparent;
  border-top: 30px solid transparent;
  border-right: 30px solid $navColor;
  height: 0;
  margin-left: -200px;
  margin-top: 65px;
  position: absolute;
  width: 0; 

  &:hover {
    background-color: white;
    border-right-color: $hoverColor;
  }
}

.arrow-right {
  border-bottom: 30px solid transparent;
  border-left: 30px solid $navColor;
  border-top: 30px solid transparent;
  height: 0;
  margin-left: 170px;
  margin-top: 65px;
  position: absolute;
  width: 0;
  
  &:hover {
    background-color: white;
    border-left-color: $hoverColor;
  }
}
  

