body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#cardDisplay {
  border: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  clear: both;
  display: inline-block;
  height: 215px;
  margin: 12px;
  width: 310px;

  #cardAnswer {
    border: 1px solid black;
    display: inline-block;
    height: 130px;
    margin-right: 10px;
    margin-bottom: 15px;
    overflow: hidden;
    width: 130px;
  }

  #cardQuestion {
    border: 1px solid black;
    display: inline-block;
    float: left;
    height: 130px;
    margin-left: 15px;
    margin-right: 15px;
    overflow: hidden;
    width: 130px;

    img {
      margin-left: auto;
      margin-right: auto;
      margin-top: 5px;
      width: 120px;
    }

  }

  a {
    margin-left: 25px;
  }

  p {
    margin: 0 0 5px 5px;
  }

}

#cardDisabled {

  border: 1px solid black;
  clear: both;
  display: inline-block;
  height: 215px;
  margin: 12px;
  width: 310px;

  a {
    margin-left: 65px;
  }

  p {
    margin: 0 0 155px 5px;
  }

}

#login {
  ul {
    list-style: none;
  }
  i {
    font-size: 17px;
  }
  a {
    padding-left: 5px;
  }
}

#notice {
  color: #4F8A10;
  background-color: #DFF2BF;
  width: 100%;
}

.field_with_errors {
  padding: 2px;
  color: white;
  background-color: #c00;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  color: #D63301;
  background-color: #FFCCBA;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

#textArea_box, #deck_category, #deck_color_type, #deck_font_type, #deck_foreground_color{
  width: 300px;
}

#text_box, .textarea {
  width: 300px;
  height: 50px;
}
